{% extends "base.html" %}

{% block title %}
    {{ article.title }}
{% endblock title %}

{% block js %}
    <script>
    $(function() {
             $("#user_content").submit(function(){
             var content = $("#id_content").val();
        $.ajax({
                 type:"post",
                 dataType:"json",
                 url:"/replays/{{post_id}}/",
                 data: {
                 'content': content,
                 },
        success: function(data){
                $('#user_content')[0].reset();
                var newcomment = "<li class=\"contents\">" +
                                      "<div class=\"name\">你：</div>"+
                                      "<div class=\"neir\">"+"<p>"+data.content+"</p>"+"</div>"+
                                      "<div class=\"geceng\"></div>"+
                                      "<div class=\"time\">回复时间：刚刚</div>"+
                                      "<div class=\"geceng\"></div>"+
                                  "</li>"

                $(".con").append(newcomment);
                 }
        });
                return false;
         });
     });

</script>
{% endblock js %}
{% block content %}
    <h1>文章标题： {{ article.title }}</h1>
    <div id="main">
        {{ article.content|safe }}
    </div>
    <br>
        <br>
    <h3>此文章已经被{{ likes|length }}人点赞, {{ starts|length }}人收藏</h3>
    {% if start %}

        <input type="submit" value="已收藏">
        {% else %}
        <form action="/start/" method="post">
        {% csrf_token %}
            <input type="hidden" name="article" value={{ pk }}>
            <input type="hidden" name="article_slug" value={{ article_slug }}>
            <input type="submit" value="加入收藏">
        </form>
    {% endif %}


    <br>
    {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if like %}
        <input type="submit" value="已喜欢">
        {% else %}
    <form method='post' action='/like/' enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="article" value={{ pk }}>
        <input type="hidden" name="article_slug" value={{ article_slug }}>
        <input type="submit" value="喜欢">
    </form>
    {% endif %}
    <br>
    <br>
    <br>
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" size="300px" name="comment">
        <br>
        <input type="submit" value="新闻评论"/>
    </form>
    <br><br>

    <br><br>
    {% for foo in comment %}
        <ul>
            <li><h3>评论：{{ foo.comment }}</h3></li>
            <li>用户：{{ foo.username }}</li>
        </ul>
        <br>
    {% endfor %}
{% endblock content %}